.nft-section__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nft-container {
  border: 1px solid #d7d7d7;
  width: 100%;
  padding: 2em;
  border-radius: 15px;
  margin: 0.5em;
  border: 1px solid black;
}
@media (min-width: 769px) {
  .nft-container {
    width: 45%;
  }
}
.nft-image {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.nft-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nft-details {
  margin-top: 1.5em;
}
.nft-name {
  font-size: 0.8em;
  margin: 0.5em 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434343;
}
.nft-name__main {
  width: 40%;
  text-align: left;
}
.nft-price {
  text-align: right;
  font-weight: 700;
  width: 55%;
}
.nft-distance {
  width: 40%;
  text-align: left;
  font-size: 0.8em;
}
.nft-time {
  font-size: 0.8em;
  text-align: right;
  width: 60%;
}
@media (min-width: 992px) {
  .hero-body {
    margin-top: 5em;
  }
  .hero-body h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
  }
  .nft-container {
    width: 20%;
    margin: 1em;
  }
  .nft-image {
    height: 250px;
  }
  .nft-details {
    font-size: 1.2em;
  }
}
