footer {
  background-color: #1d1d1e;
  color: white;
  text-align: center;
  margin-top: -1em;
  padding: 2em 0;
  padding-bottom: 0;
}
.footer-main {
  text-align: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.foooter-logo__text {
  font-weight: 600;
  font-size: 1.2em;
}
.footer {
  margin: 1em 0;
}
.footer p {
  color: rgba(255, 255, 255, 0.8);
}
.footer-socials {
  display: none;
}
.footer-socials__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b4b4b4;
  padding: 0.5em 1em;
  margin-top: 3em;
}
.footer-socials__main {
  display: flex;
  align-items: center;
}
.socials {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
@media (min-width: 994px) {
  footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
  }
  .footer-socials__mobile {
    display: none;
  }
  .footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer {
    width: 20%;
    text-align: left;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    width: 25%;
    text-align: left;
  }
  .footer-logo {
    font-size: 1.8em;
  }
  .foooter-logo__text {
    font-weight: 600;
    font-size: 1.2em;
  }
  .footer-socials {
    width: 50%;
  }
  .socials {
    display: flex;
    justify-content: space-between;
  }
}
