button {
  border: none;
  padding: 1em 2.5em;
  border-radius: 8px;
  font-weight: 600;
}
.button1 {
  background-color: #a02279;
  color: rgba(255, 255, 255, 0.8);
}
.button1:hover,
.button1:active {
  background-color: #b840ae;
}
.button2 {
  background-color: white;
  color: #a02278cb;
}
.button2:hover,
.button2:active {
  color: black;
}
ul li {
  list-style: none;
}
